@import url("https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 248, 255);
}

main {
  flex: 1 0 auto;
  font-family: "Nata Sans", sans-serif;
}

footer {
  flex-shrink: 0;
}

nav,
footer {
  background-color: #001f3f;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  font-family: "Nata Sans", sans-serif;
}

.git-btn {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.git-btn:hover {
  color: #007bff;
}

.icon-btn {
  color: #ffffff;
}

.divBotones {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.texto-opaco {
  opacity: 0.6;
  font-size: 12px;
  color: #000;
}

.css {
  background-color: #001f3f;
}

.tablero-bajo {
  background-color: rgb(51, 51, 51);
}

.tarjeta {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.7s ease;
  transform: translateY(0);
}

.tarjeta:hover {
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.9);
  transform: translateY(-2px);
}

.columna1{
  min-height: 700px;
  max-height: 800px;
  overflow: auto;
}

@media only screen and (max-width: 767px) {
  .columna1 {
    min-height: 500px;
    max-height: 600px;
  }
}

#listaTareas {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 1rem; 
  padding: 0; 
  list-style: none; 
}

/* Media query para celulares */
@media (max-width: 767px) {
  #listaTareas {
    grid-template-columns: 1fr;
  }
}

/* Estilis para los btn de las cards Tareas*/
/* Botón: Estado*/
.btn-success {
  background-color: #198754;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-success:hover {
  background-color: #157347;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  transform: translateY(-1px);
}

/* Botón: Editar*/
.btn-primary {
  background-color: #ffc107;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #e0a800;
  color: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  transform: translateY(-1px);
}
/* Botón: ver*/
.btn-info {
  background-color: #0d6efd;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra oscura y neutra */
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-info:hover {
  background-color: #0b5ed7;
  color: #ffffff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4); /* Sombra más fuerte en hover */
  transform: translateY(-1px);
}

/* Botón: Borrar*/
.btn-danger { 
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-danger:hover {
  background-color: #c82333;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
  transform: translateY(-1px);
}

.tarea-item {
  
  background-color: #e9f0ff;
  border: 1px solid #dee2e6; 
  border-radius: 3px; 
  padding: 5px;
  margin-top: 0.5rem; 
  margin-bottom: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.9); 
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  list-style: none;
}